//Color Pallette 
$background-color: #0F3451;
$primary-color: #F0F0F0;
$pop-color: #CEA64E;
$light-color: #B1D1C6;

.nav_main_container{
    width: 100%;
    height: 100px; 
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    color: whitesmoke; 
}

.nav_items{
    // border: 1px solid red; 
    list-style-type: none;

    display: flex;
    // justify-content: space-between;
    padding: 20px;
    margin-right: 120px;

    color: whitesmoke;
    
    &_item{
        margin-right: 60px;
        display: flex;

        &:last-child{
            margin-right: 0px;
        }
    }
}

