.collage{
    &_carousel{
        display: flex;
        overflow: hidden; /* Updated to hide the scrollbar */
        white-space: nowrap;
        scroll-behavior: smooth;
    
        animation: autoScrollX 30s linear infinite;
        &_item{
            flex: 0 0 auto; /* Do not grow, do not shrink, base width on content */
            height: 200px; /* Set a fixed height for all images */
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    .marquee__group {
      animation-play-state: paused;
    }
  }

@keyframes autoScrollX{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}