$bg-color: #0F3451;
$light-bg: #B1D1C6;
$dark-font: #001846;
$light-font: #F0F0F0;
$pop-gold: #CEA64E;

@import url('https://fonts.googleapis.com/css2?family=Mada:wght@400;500;700&display=swap');

.footer {
    // border: 1px solid peru; 
    width: 100%;
    // height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &_content{
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        width: 400px;
        height: 100%;

        &_logo{
            // border: 1px solid red; 
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            width: 82px;
            height: 58px;
        }

        &_body{
            margin-top: 22px;
            display: flex;
            flex-direction: column;

            font-family: "Mada", sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: whitesmoke;
        }

        &_contact{
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;

            
            // border: 1px solid red; 
            display: flex;
            flex-direction: row;

            ul{
                list-style: none;
                // border: 2px solid beige;
                margin-top: 30px;
                width: 90%;
                height: 100%;

                display: flex;
                flex-direction: row;


                justify-content: center;
                align-items: center;
                text-align: center;

                li {
                  width: 100px;
                  height: 100%; 

                  display: flex;
                  justify-content: center;
                  align-items: center;

                  // border: 1px solid red;
                  // margin-right: 10px; // Add some space between the icons
                  a {
                    color: whitesmoke;
                    text-decoration: none; // Optional: Removes the underline from the links
        
                    // Additional styling for the anchor tags if needed
                    &:hover {
                      // Styles for hover state
                    }
                  }

                  &:first-child{
                    margin-left: -40px;
                  }
                }
                
            }

        }
    }
}