$bg-color: #0F3451;
$light-bg: #B1D1C6;
$dark-font: #001846;
$light-font: #F0F0F0;
$pop-gold: #CEA64E;

@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@700&display=swap');

.aboutUs{
    width: 100%;
    height: 2147px;

    background-color: $bg-color;

    &_section1{
        height: 682px; 

        &_hollowCloud{
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: top left;

            image-rendering:crisp-edges;

            width: 800px;
            height: 330px;

            position: absolute;
            // border:1px solid red;
        }

        &_topLeftCloud{
            background-size: cover;
            background-repeat: no-repeat;

            image-rendering:crisp-edges;
            width: 400px;
            height: 400px;

            position: absolute;
            top: 290px;

            // border: 1px solid red;
        }

        &_smallCloud{
            background-size: contain;
            background-repeat: no-repeat;

            image-rendering:crisp-edges;
            width: 150px;
            height: 150px;

            position: absolute;
            top: 10px;
            left: 400px;

            // border: solid 1px red;
        }

        &_topCenterCloud{
            background-size: cover;
            background-repeat: no-repeat;

            image-rendering:crisp-edges;
            width: 300px;
            height: 300px;

            position: absolute;
            top: 62px;
            right: 25%;
        }

        &_topRightCloud{
            background-size: cover;
            background-repeat: no-repeat;

            image-rendering:crisp-edges;
            width: 430px;
            height: 430px;

            position: absolute;
            top: 98px;
            right: 0px;

            // border: 1px solid red;
        }

        &_bottomRightCloud{
            background-size: cover;
            background-repeat: no-repeat;

            image-rendering:crisp-edges;
            width: 350px;
            height: 400px;

            position: absolute;
            
            top: 535px;
            right: 0px;
        }

        &_cowCloud{
            background-size: 200%;
            background-repeat: no-repeat;
            background-position: center center;

            image-rendering:crisp-edges;
            width: 500px;
            height: 500px;

            position: absolute;
            top: 450px;
            left: 300px;

            // border: 1px solid red;

            z-index: 3;
        }

        &_Cow{
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;

            image-rendering:crisp-edges;
            width: 300px;
            height: 600px;

            position: absolute;
            top: 100px;
            left: 430px;

            // border: 1px solid red;

            z-index: 5;
        }

        &_caption{
            // border: 1px solid red;
            width: 800px;
            height: 140px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            position: absolute;
            top: 400px;
            left: 750px;
            
            span{
                font-size: 45px;
                letter-spacing: 3.6px;
            }
            

        }
    }

    &_section2{
        height: 718px; 
        background-color: rgba(177, 209, 198, 0.85);

        box-shadow: 15px 15px 25px 0px rgba(0, 0, 0, 0.25) inset;

        clip-path: polygon(
            0 0,
            0% 0,
            100% 20%,
            100% 100%,
            0 100%
        )

    }
}
