$bg-color: #0F3451;
$light-bg: #B1D1C6;
$dark-font: #001846;
$light-font: #F0F0F0;
$pop-gold: #CEA64E;


.marketplace{
    width: 100%;
    height: 100vh;

    background-color: $bg-color;

    display: flex; 
    justify-content: start;
    align-items: center;
    
    flex-direction: column;

    &_nav{
        height: 100px; 
        width: 100%;
    }

    &_header{
        height: 300px;
        width: 80%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        span{
            color: #FFF;
            font-family: Mada;
            font-size: 62px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 74.4px */
            letter-spacing: 0.186px;
        }
    }

    &_body{
        border: 1px solid red; 
        
        &_photographers{
            border: 1px solid black; 
            display: flex;
            
        }
    }

}

.photographer_card{
    border: 1px solid black;
}