@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');


.profilePage{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile_container{
    height: 780px;
    width: 100%;

    background-color: #94ad75;
    display: flex;

    justify-content: center;
    align-items: center;
}
.profile{
    // border: 1px solid wheat;
    width: 1250px;
    height: 80%;
    display: flex; 
    flex-direction: row;

    &_left{
        width: 33%;
        margin-right: 60px;
        height: 400px;

        // border: 1px red solid;
        &_pic{

            height: 100%;
        
    
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

        }

        &_text{
            // border: 1px solid royalblue;
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            text-align: left;
            
            gap: 10px;
            width: 100%;

            &_row{
                // border: 1px solid bisque;
                font-family: 'Noto Serif', serif;
                font-weight: 600;
                line-height: normal;
                font-size: 24px;
            }
        }
    }

    
    &_right{
        width: 66%;

        &_descrip{
            // border: 1px solid royalblue;
            font-family: 'Noto Serif', serif;
            font-weight: 400;
            line-height: normal;
            font-size: 24px;
            text-align: start;
        }
    }
    
}

.portfolio_container{
    height: 410px;
    width: 100%;

    background-color: whitesmoke;
}

