//Color Palette
$color-primary: #B1D1C6;
$bg-color: rgba(31, 80, 63, 0.31);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.settingsPage{
    font-family: 'Inter', sans-serif;
    width: 100vw;
    height: 100vh;

    display: flex;
    // background-color: $bg-color;
    background-color: #0f1c2b;

    align-items: center;
    // justify-content: center;

    &_left{
        // border: 1px solid red;
        margin-left: 5%;
        width: 50%;
        height: 90%;
    
        display: flex;
        align-items: center;
        // justify-content: center;

    
        &_container{
            // width: 90%;
            width: 100%;
            height: 82%;
            border-radius: 44px;
            background-color: whitesmoke;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: start;


            &_body{
                // border: 2px solid brown;
                width: 100%;
                height: 100%;


                display: flex;
                flex-direction: row;

                &_profile{
                    width: 10vw;
                    height: 10vw;
                    
                    margin: 6%;
                    margin-top: 10%;

                    &_pic{
                        width: 100%;
                        height: 100%;
                        
                        display: flex;
                        justify-content: flex-end;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
        
                        border-radius: 50%;        
            
                    }

                    &_pic_uploaded{
                        width: 100%;
                        height: 100%;
                        
                        display: flex;
                        justify-content: flex-end;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
        
                        border-radius: 50%;     
                    }

                    &_border{
                        border: 1px dashed yellowgreen;
                        border-radius: 4%;
                        width: 10vw;
                        height: 10vw;
                        
                        margin: 6%;
                        margin-top: 8%;
                    }

                    &_edit{
                        width: 100%;
                        display: flex;

                        justify-content: flex-end;
                        align-items: center;

                        &_camera{
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;

                            margin-top: -25px;
                            border: 1px solid black;
    
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            cursor: pointer;
                        }
                        
                    }
                }

                &_form{
                    // border: 1px solid blue; 
                    display: flex;
                    // justify-content: center;
                    // align-items: center;
                    flex-direction: row;
                    margin-top: 4%;
                    width: 480px;

                    input{
                        font-size: 0.8em;
                        border-radius: 4px;
                        border: 1px solid rgba(62, 72, 84, 0.30);
                        background-color: transparent;
                        height: 3vh;
                        width: 10vw;
                    }

                    &_left{
                        // border: 1px solid red;
                        width: 220px;
                        margin-right: 50px;
                        font-size: 1.3em;

                        display: flex;
                        flex-direction: column;

                        text-align: start;
                        gap: 20px;

                      
                    }

                    &_right{
                        // border: 1px solid black;
                        font-size: 1.3em;
                        width: 220px;
                        margin-right: 50px;
                        margin-left: 27%;

                        display: flex;
                        flex-direction: column;

                        text-align: start;
                        gap: 20px;

                  
                    }
                }

                
            }

            &_title{
                // border: 1px solid brown;
                display: flex;
                align-items: center;
                font-size: 2.5em;

                width: 100%;
                
                span{
                    margin-left: 66px; 
                    margin-top: 50px;
                }

                // font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }

            

           
        }
    }

    &_right{
        // border: 1px solid blue;
        width: 50%;
        height: 90%;
        margin-right: 5%;

        display: flex;
        justify-content: center;
        // align-items: center;

        &_container{
            display: flex;
            flex-direction: column;
            
            // border: solid 3px purple;
            align-items: center;
            justify-content: center;

            &_top{
                border-radius: 44px;
                background-color: whitesmoke;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                width: 40vw;
                height: 49vh;
                margin-left: 12%;
                margin-bottom: 70px;


                &_contact{
                    &_title{
                        // border: 1px solid brown;
                        display: flex;
                        align-items: center;
                        font-size: 2.5em;
        
                        width: 100%;
                        
                        span{
                            margin-left: 66px; 
                            margin-top: 50px;
                        }
                    }

                    &_body{
                        // border: 1px solid orange;
                        align-items: center;

                        justify-content: center;
                        width: 100%;
                        height: 300px;

                        &_form{
                            // border: 1px solid black;
                            margin-top: 5%;
                            display: flex;
                            flex-direction: row;

                            justify-content: center;
                            align-items: center;

                            input{
                                font-size: 0.8em;
                                border-radius: 4px;
                                border: 1px solid rgba(62, 72, 84, 0.30);
                                background-color: transparent;
                                height: 3vh;
                                width: 14vw;
                                margin-top: 2%;
                            }

                            &_left{
                                // border: 1px solid red;
                                width: 50%;
                                height: 100%;
                                font-size: 1.3em;
                            
                                margin-left: 10%;

                                display: flex;
                                flex-direction: column;

                                text-align: start;
                                gap: 20px;

                                &_label{
                                    font-weight: 500;
                                    color: #3E4854;
                                }

                                &_input{
                                    border-radius: 4px;
                                    border: 1px solid rgba(62, 72, 84, 0.30);
                                    height: 28px;
                                    width: 175px;
                                }
                                
                                &_email{
                                    margin-top: 7%;
                                }
                                
                            }

                            &_right{
                                // border: 1px solid black;
                                width: 50%;
                                height: 100%;
                                font-size: 1.3em;

                                display: flex;
                                flex-direction: column;

                                text-align: start;
                                gap: 20px;

                                &_label{
                                    font-size: 14px;
                                    font-weight: 500;
                                    color: #3E4854;
                                }

                                &_input{
                                    border-radius: 4px;
                                    border: 1px solid rgba(62, 72, 84, 0.30);
                                    height: 28px;
                                    width: 175px;
                                }

                                &_FB{
                                    margin-top: 7%;
                                }
                            }

                        }
                    }
                }
            }

            &_bottom{
                border-radius: 44px;
                background-color: whitesmoke;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                margin-left: 12%;
                width: 40vw;
                height: 20vh;

                display: flex;
                justify-content: center;
                align-items: center;

                &_choice{
                    width: 300px;
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    input{
                        border-radius: 4px;
                        border: 1px solid rgba(62, 72, 84, 0.30);
                        margin-left: 1vw;
                        height: 1.5vh;
                        width: 3vw;
                    }
                }
            }


        }
        
    }
    
}

.dropdown{
    &_BTN{
        display: flex;
        width: 7vw;
        height: 2.7vh;
        /*padding: 14px 16px;*/
        align-items: center;
        border-radius: 4px;
        border: 1px solid rgba(62, 72, 84, 0.30);
        font-size: 0.75em;

        text-align: center;

        background: #FFF;

        color: grey;
    }
}

.dropdown{
    &_BTN_pronoun{
        display: flex;
        width: 7vw;
        height: 2.7vh;
        /*padding: 14px 16px;*/
        align-items: center;
        border-radius: 4px;
        border: 1px solid rgba(62, 72, 84, 0.30);
        font-size: 0.75em;

        text-align: center;

        background: #FFF;

        color: grey;
    }
}

/* For all labels and inputs within the left form */
.settingsPage_left_container_body_form_left > div > div[class$="_label"]{
    margin-top: 12%;
    margin-bottom: 5%;/* Adjust value as needed */
}

/* For all labels and inputs within the right form */
.settingsPage_left_container_body_form_right > div > div[class$="_label"]{
    margin-top: 12%;
    margin-bottom: 5%;/* Adjust value as needed */
}

.logo{
    transform: translateY(12%);
    margin-right: 1%;
    width: 5%;
    height: 5%;
}

.uploadImg{
    display: flex;
    width: 1.3vw;
    height: 1.3vw;
    /*padding: 14px 16px;*/
    align-items: center;
    justify-self: end;
    justify-content: center;
    text-align: center;
    border-radius: 20%;
    border: none;
    font-size: 0.75em;

    background: #FFF;

    color: grey;
}

.editBtn{
    width: 1.2vw;
    height: 1.2vw;
    text-align: center;
    border-radius: 20%;
    border: 1px solid rgba(62, 72, 84, 0.30);
}

.saveBtn{
    position: fixed;
    margin: 3em;
    bottom: 0;
    right: 0;
    
    button{
        padding: 1em;
        padding-left: 2.4em;
        padding-right: 2.4em;
        border-radius: 30px;
        font-size: 1.5em;
        color: black;
        background-color: #B9D0C6;
        font-family: fantasy, Arial, Helvetica, sans-serif; 
    }

}