
.profilePage{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile_container{
    height: 600px;
    width: 100%;

    background-color: #94ad75;
    display: flex;

    justify-content: center;
    align-items: center;
}
.profile{
    border: 1px solid wheat;
    width: 1250px;
    height: 80%;
    display: flex; 
    flex-direction: row;

    &_left{
        width: 33%;
        &_pic{
            width: 360px;
            height: 360px;
    
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
    
            // margin: 20px 20px 20px 20px;
        }

        &_text{

        }
    }

    
    &_right{
        width: 66%;

        &_descrip{
            border: 1px solid royalblue;
            font-size: 24px;
        }
    }
    
}

.portfolio_container{
    height: 410px;
    width: 100%;

    background-color: whitesmoke;
}

