//Color Palette
$color-primary: #B1D1C6;
$bg-color: rgba(31, 80, 63, 0.31);

@import "~@flaticon/flaticon-uicons/css/all/all";

.settingsPage{
    width: 100vw;
    height: 100vh;

    display: flex;
    background-color: $bg-color;

    align-items: center;
    // justify-content: center;

    &_left{
        border: 1px solid red;
        margin-left: 5%;
        width: 50%;
        height: 90%;
    
        display: flex;
        align-items: center;
        // justify-content: center;
    
        &_container{
            // width: 90%;
            width: 700px;
            height: 900px;
            border-radius: 44px;
            background-color: whitesmoke;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: start;


            &_body{
                border: 2px solid brown;
                width: 100%;
                height: 100%;


                display: flex;
                flex-direction: row;

                &_profile{
                    border: 1px solid yellowgreen;
                    width: 125px;
                    height: 125px;    
                    
                    margin: 60px;
                }

                &_form{
                    display: flex;
                    // justify-content: center;
                    // align-items: center;
                    flex-direction: row;
                    border: 1px solid blue; 
                    margin-top: 80px;
                    width: 480px;

                    input{
                        border-radius: 4px;
                        border: 1px solid rgba(62, 72, 84, 0.30);
                        background: #FFF;
                        height: 20px;
                    }

                    &_left{
                        border: 1px solid red;
                        width: 175px;
                        margin-right: 50px;

                        display: flex;
                        flex-direction: column;

                        text-align: start;
                        gap: 20px;

                      
                    }

                    &_right{
                        border: 1px solid black;
                        width: 175px;
                        margin-right: 50px;

                        display: flex;
                        flex-direction: column;

                        text-align: start;
                        gap: 20px;

                  
                    }
                }

                
            }

            &_title{
                border: 1px solid brown;
                display: flex;
                align-items: center;
                font-size: 20px;

                width: 100%;
                
                span{
                    margin-left: 66px; 
                    margin-top: 50px;
                }

                // font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }

            

           
        }
    }

    &_right{
        
    }
    
}

.dropdown{
    &_BTN{
        border: 1px solid red; 
        width: 100px;
        height: 20px;

        display: flex;
        justify-content: flex-end;
    }
}

.settings{
    height: 100%;
    width: 100%;
    
    border: 1px solid brown;
    display: flex;

    justify-content: center;
    align-items: center;

    &_inner{
        border: 1px solid blue;
        width: 80%;
        height: 80%;

        display: flex;

        &_left{
            border: 1px solid green;
            width: 50%;
        }

        &_prof{
            border: 1px solid red;
            width: 33%;
            height: 100%;

            display: flex;
            // align-items: center;
            justify-content: center;

            &_pic{
                width: 300px;
                height: 300px;

                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;

                border-radius: 50%;
    
            }
        }

    }
}

.settings_lock{
    position: absolute;
    width: 105px;
    height: 270px;

    top: 40%;
    left: 8%;
    border-radius: 44px;
    box-shadow: 6px 8px 10px 0px rgba(0, 0, 0, 0.25);
    // border: 10px solid black;
    background-color: $color-primary;

    &_icons{
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        font-size: 50px;

        i {
            margin: 20px;
        }

    }
}